[Desktop Entry]
Type=Application
Name=Emu64
GenericName=Commodore 64 Emulator
GenericName[de]=Commodore-64-Emulator
Comment=A C64 emulator
Comment[de]=Ein C64 Emulator
Exec=emu64
Terminal=false
Icon=emu64
Categories=Game;X-Emulator;
